<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canteen Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--link to stylesheet-->
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/main.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--Swiper CSS-->
</head>
<body>

<!--Navigation Bar-->
<nav class="navbar">
  <div class="content">
    <div class="logo">
      <a href="/index"><img src="images/The-Canteen-logo.png" width="135"></a>
    </div> 
    <ul class="menu-list">
      <div class="icon cancel-btn">
        <i class="fas fa-times"></i>
      </div>
      <li><a href="/index">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/index#service">FAQ</a></li>
      <li><a href="/contactus">Contact</a></li>
    </ul>
    </ul>
    <div class="icon menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>

<script src="js/nav.js"></script>

<!--Header-->
    <div class="main">
        <div class="main-heading">
            <h1>DELICIOUS AND NUTRITIOUS</h1>
                <h3>MEALS</h3>
            <h2>Made from fresh ingredients and with plenty to choose from<h2>
            <a href="/menu" class="button1">School Menu</Menu></a>
        </div>
    </div>
</section>

<hr class="seller-hr">

<!--Best Seller-->
<section class="seller" id="seller">
    <h1>Popular Items</h1>
    <div class="item-section">
        <div class="item-card">
            <img src="images/Products/PRODUCT2.png"/>
            <h4>Mince & Cheese Pie</h4>
            <p>250/-</p>
            </div>
            <div class="item-card">
                <img src="images/Products/PRODUCT1.png"/>
                <h4>Chicken Wrap</h4>
                <p>320/-</p>
                </div>
                <div class="item-card">
                    <img src="images/Products/PRODUCT3.png"/>
                    <h4>Loaded Nachos</h4>
                    <p>330/-</p>
                    </div>
        </div>
    </div>
</section>

<hr class="about-hr">

<!--About Section-->
<section class="about" id="about">
    <div class="abouts">
        <img src="images/burger.jpg">
        <div class="about-text">
            <h2>School Canteen</h2>
            <h4>Delicious and Affordable</h4>
            <p>Welcome to our school canteen, where taste meets convience! We take pride in offering a diverse and 
              satisfying menu that caters to all taste and preferences. 
              Our affordable pricing ensures that every student can enjoy a satisfying meal without breaking the bank!
            </p>
            <a href="/contactus" class="contact-button">Contact Us</a>
        </div>
    </div>
</section>

<!--Service Section-->
<div class="service" id="service">
    <div class="title">
      <h2>HOW IT WORKS</h2>
    </div>
  
      <div class="box">
        <div class="card">
         <i class="fa-solid fa-cart-shopping"></i>
          <h5>Order</h5>
          <div class="pra">
            <p>Your submitted order will be processed within 24 hours.
            </p>
  
            <p style="text-align: center;">
            </p>
          </div>
        </div>
  
            <div class="card">
            <i class="fa-solid fa-truck-fast"></i>
          <h5>Shipping</h5>
          <div class="pra">
            <p>Order is shipped to your school the next day free of charge.
            </p>
  
            <p style="text-align: center;">
            </p>
          </div>
        </div>
  
              <div class="card">
               <i class="fa-solid fa-box"></i>
          <h5>Delievered</h5>
          <div class="pra">
            <p>Once delievered to your location. Enjoy your lunch. You can contact us if there are any issues 
              and we will issue a full refund.
            </p>
  
            <p style="text-align: center;">
            </p>
          </div>
        </div>
    </div>
  </div>

    <!--Footer-->
    <Footer>
      <div class="footer-content">
        <h3>School Canteen</h3>
    
    <!--Socials-->
    <ul class="socials">
      <li>></li>
          <li><a class="fa-brands fa-square-facebook" href=""></a></li>
          <li><a class="fa-brands fa-square-twitter" href=""></a></li>
          <li><a class="fa-brands fa-discord" href=""></a></li>
          <li><a class="fa-brands fa-youtube" href=""></a></li>
        </ul>
    <!--footer menu-->
    <div class="footer-menu">
    <ul class="f-menu">
        <ul>
          <li><a class="" href="/index">Home</a></li>
          <li><a class="" href="/menu">Menu</a></li>
          <li><a class="" href="/index#service">FAQ</a></li>
          <li><a class="" href="/contactus">Contact Us</a></li>
        </ul>
      </div>
    
    <div class="footer-bottom">
      <p>© 2023-2023 School Canteen All Rights Reserved</p>
    </div>
    
      </div>
    </Footer>

</body>
</html>

